.container {
    padding: 20px;
    p {
        font-size: 42px;
        padding: 0px 32px 0px 32px;
    }

    .topmenus-container {
        width: 100%;
        margin-bottom: 10px;
    }

    .products-container {
        width: 100%;
        display: flex;
        flex-direction: row;

        .sidemenus-container {
            width: 25%;
            margin-right: 2px;
        }

        .gridproducts-container {
            width: 75%;
            margin-left: 2px;
        }
    }
}