<div class="container">
    <div class="header-container">
        <p>Hope you have a wonderful day with "Chill Stores"</p>
    </div>
    <div class="lorem-container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro quidem exercitationem adipisci optio,
            expedita maxime vero eius iste iusto velit corporis nam illum animi excepturi itaque, tempora, error unde
            in?</p>
    </div>
    <div class="menus-container">
        <div class="menus-item">
            <div (click)="router.navigate(['/products'], { queryParams: { name: 'clothes' }})">
                <p>Shirt & Clothes</p>
                <app-shirt width="100"></app-shirt>
            </div>
        </div>
        <div class="menus-item">
            <div (click)="router.navigate(['/products'], { queryParams: { name: 'trousers' }})">
                <p>Trousers</p>
                <app-trousers width="100"></app-trousers>
            </div>
        </div>
        <div class="menus-item">
            <div (click)="router.navigate(['/products'], { queryParams: { name: 'shoes' }})">
                <p>Sneaker & Flip Flops</p>
                <app-shoes width="100"></app-shoes>
            </div>
        </div>
        <div class="menus-item">
            <div (click)="router.navigate(['/products'], { queryParams: { name: 'dress' }})">
                <p>Dress</p>
                <app-accessory width="100"></app-accessory>
            </div>
        </div>
        <div class="menus-item">
            <div (click)="router.navigate(['/products'], { queryParams: { name: 'backpack' }})">
                <p>Backpack</p>
                <app-accessory width="100"></app-accessory>
            </div>
        </div>
        <div class="menus-item">
            <div (click)="router.navigate(['/products'], { queryParams: { name: 'accessary' }})">
                <p>Accessory</p>
                <app-accessory width="100"></app-accessory>
            </div>
        </div>
    </div>
    <h2>Made from "Angular" first component "app.component.ts"</h2>
</div>