<div class="container">
    <div class="header-container">
        <p>Hope you have a wonderful day with "Chill Stores"</p>
    </div>
    <div class="lorem-container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro quidem exercitationem adipisci optio,
            expedita maxime vero eius iste iusto velit corporis nam illum animi excepturi itaque, tempora, error unde
            in?</p>
    </div>
    <div class="menus-container">
        <div class="menus-item">
            <div>
                <p>Shirt & Clothes</p>
                <app-shirt></app-shirt>
            </div>
        </div>
        <div class="menus-item">
            <div>
                <p>Trousers</p>
                <app-trousers></app-trousers>
            </div>
        </div>
        <div class="menus-item">
            <div>
                <p>Sneaker & Flip Flops</p>
                <app-shoes></app-shoes>
            </div>
        </div>
        <div class="menus-item">
            <div>
                <p>Accessory</p>
                <app-accessory></app-accessory>
            </div>
        </div>
    </div>
</div>