<div class="container">
    <div class="name-container">
        <h1>{{product_name}}</h1>
    </div>
    <div class="product-container">
        <div class="img-container">
            <div class="img-displayed">
                <img src="" alt="">
            </div>
            <div class="img-list">
                <img src="" alt="">
            </div>
        </div>
        <div class="descript-container">
            <div class="descript-head">
                <p>Description Header</p>
            </div>
            <div class="descript-detail">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis tempora est alias obcaecati nobis
                    esse fugit, pariatur rem veniam dolor molestiae maxime, beatae non ratione, nihil iste fugiat nisi
                    sunt?</p>
            </div>
            <div class="descript-button">
                <button>Add to cart</button>
                <div><app-heart width="36"></app-heart></div>
            </div>
        </div>
    </div>
</div>