<div class="container">
    <div class="logo-container">
        <app-mitten></app-mitten>
        <p (click)="router.navigate(['/'])">Chill Stores</p>
    </div>
    <div class="menus-container">
        <p (click)="router.navigate(['/products'])">Products</p>
        <p (click)="router.navigate(['/about'])">About us</p>
        <p (click)="router.navigate(['/blog'])">Blog</p>
        <p>#</p>
    </div>
    <div class="option-container">
        <app-cart></app-cart>
        <app-heart></app-heart>
        <app-information></app-information>
    </div>
</div>