.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 0px;
    box-shadow: 0px -2px 4px rgb(0, 0, 0);
    app-github {
        display: flex;
        align-items: center;
        margin: 0px 4px 0px 4px;
        cursor: pointer;
    }
}