/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Pacifico;
    src: url(./assets/fonts/Pacifico-Regular.ttf);
}

* {
    font-family: Pacifico;
    margin: 0px;
    padding: 0px;
}